body {
  margin: 0;
  background: #F3D7B7;
  font-family: Arial, sans-serif;
}

header {
  width: 90%;
  margin: 0 auto;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.hero-about {
  background: #F3D7B7;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.about-text {
  max-width: 40%;
}

.about-text h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 20px;
}

.about-text p {
  line-height: 1.6;
  font-size: 15px;
}

.about-img img {
  width: 450px;
  border-radius: 10px;
}

.commitment {
  background: #FFF;
  width: 90%;
  margin: 60px auto;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  gap: 60px;
}

.commit-img img {
  width: 280px;
  border-radius: 10px;
}

.commit-text {
  max-width: 60%;
}

.commit-text h2 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 20px;
}

.commit-text p {
  line-height: 1.6;
  font-size: 15px;
  color: #444;
}

.quality {
  display: flex;
  width: 90%;
  margin: 60px auto;
  background: #C67D2B;
  border-radius: 12px;
  color: white;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

.quality-text {
  max-width: 45%;
}

.quality-text h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.quality-text p {
  line-height: 1.6;
}

.quality-img img {
  width: 260px;
  border-radius: 10px;
}

.hq {
  width: 90%;
  margin: 80px auto;
  text-align: center;
}

.hq h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.hq-boxes {
  display: flex;
  justify-content: space-between;
}

.hq-item {
  background: #0A775F;
  color: white;
  width: 30%;
  padding: 30px;
  border-radius: 10px;
}

.hq-item img {
  width: 50px;
  margin-bottom: 20px;
}

.hq-item h3 {
  margin-bottom: 10px;
}

footer {
  margin-top: 80px;
  background: #2C2C2C;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

footer ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
